# kind: Cluster
# apiVersion: kind.x-k8s.io/v1alpha4
# nodes:
# - role: control-plane
#   image: kindest/node:v1.27.3
#   extraPortMappings:
#   - containerPort: 30949
#     hostPort: 80
#   - containerPort: 30950
#     hostPort: 443

kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

nodes:
  - role: control-plane
    image: kindest/node:v1.27.3

    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"

    extraPortMappings:
      - containerPort: 80
        hostPort: 8080      
        protocol: TCP
      - containerPort: 443
        hostPort: 8081  
        protocol: TCP
